         @import url('https://fonts.googleapis.com/css?family=Montserrat:100');
         html,
         body,
         h1 {
             padding: 0;
             margin: 0;
             font-family: 'Montserrat', sans-serif;
         }
         
         * {
             box-sizing: border-box;
         }
         
         nav {
             height: 10vh;
             background-image: linear-gradient(#000000, #0c0c0c);
         }
         
         .nav-links {
             display: flex;
             list-style: none;
             width: 50%;
             height: 100%;
             justify-content: space-around;
             align-items: center;
             margin-left: auto;
         }
         
         .nav-links li a {
             color: white;
             text-decoration: none;
             font-size: 16px;
         }
         
         .landing {
             height: 90vh;
             display: flex;
             justify-content: center;
             align-items: center;
         }
         
         .landing h1 {
             margin: 100px;
             font-size: 50px;
             color: #ae5fce;
             text-align: center;
         }
         
         @media screen and ( max-width: 4920px) {
             .line {
                 width: 30px;
                 height: 3px;
                 background: white;
                 margin: 5px;
             }
             nav {
                 position: relative;
             }
             .hamburger {
                 position: absolute;
                 cursor: pointer;
                 right: 5%;
                 top: 29%;
                 z-index: 2;
             }
             .nav-links {
                 position: absolute;
                 height: 100vh;
                 width: 100%;
                 flex-direction: column;
                 background: black;
                 clip-path: circle(100px at 90% -50%);
                 -webkit-clip-path: circle(100px at 90% -50%);
                 transition: all 1s ease-out;
                 pointer-events: none;
             }
             .nav-links.open {
                 clip-path: circle(1900px at 90% -50%);
                 -webkit-clip-path: circle(4900px at 90% -50%);
                 pointer-events: all;
             }
             .landing {
                 flex-direction: column;
             }
             .nav-links li {
                 opacity: 0;
             }
             .nav-links li a {
                 font-size: 25px;
             }
             .nav-links li:nth-child(1) {
                 transition: all 0.5s ease 0.6s;
             }
             .nav-links li:nth-child(2) {
                 transition: all 0.5s ease 1s;
             }
             .nav-links li:nth-child(3) {
                 transition: all 0.5s ease 1.6s;
             }
             li.fade {
                 opacity: 1;
             }
         }
         
         #app {
             background: rgb(10, 10, 10);
             height: 100vh;
             width: 100%;
             margin: 0;
             padding: 0;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             background: linear-gradient(rgba(10, 10, 10, .6), rgba(0, 0, 0, .9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url(./photo-1506399558188-acca6f8cbf41.jfif);
             background-size: cover;
             background-position: center;
             z-index: 1;
         }
         
         #appSkills {
             background: rgb(10, 10, 10);
             height: 100vh;
             width: 100%;
             margin: 0;
             padding: 25px;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             background: linear-gradient(rgba(10, 10, 10, .6), rgba(0, 0, 0, .9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url(./photo-1506399558188-acca6f8cbf41.jfif);
             background-size: cover;
             background-position: center;
             z-index: 1;
         }
         
         #wrapper {
             text-align: center;
         }
         
         #wrapperSkills {
             text-align: center;
         }
         
         #wrapperCt {
             text-align: center;
         }
         
         #wrapperProj {
             text-align: left;
             padding: 20px;
         }
         
         .sub {
             color: rgb(100, 220, 220);
             font-size: 45px;
             letter-spacing: 0.2em;
         }
         
         .subSkills {
             color: rgb(100, 220, 220);
             font-size: 25px;
             letter-spacing: 0em;
         }
         
         .subCt {
             color: rgb(100, 220, 220);
             font-size: 45px;
             letter-spacing: 0em;
         }
         
         .subProj {
             color: rgb(100, 220, 220);
             font-size: 25px;
             letter-spacing: 0em;
         }
         
         .subProj2 {
             color: deeppink;
             font-size: 25px;
         }
         
         .glitch {
             font-size: 35px;
             color: lavender;
             letter-spacing: 0.1em;
         }
         
         .glitchSkills {
             font-size: 35px;
             color: lavender;
             letter-spacing: 0.3em;
         }
         
         .glitchCt {
             font-size: 35px;
             color: lavender;
             letter-spacing: 0.3em;
         }
         
         .glitchProj {
             font-size: 25px;
             color: lavender;
             letter-spacing: 0.2em
         }
         
         #container {
             position: absolute;
             width: 100%;
             height: 100%;
             overflow: hidden;
         }
         
         .box {
             position: absolute;
             background: url(./photo-1506399558188-acca6f8cbf41.jfif);
             background-attachment: fixed;
         }
         
         .aboutMe {
             text-align: center;
             color: deeppink;
         }
         
         a:hover {
             background-color: rgb(247, 17, 151);
             transition: all 1s ease-out .2s;
             margin-left: -20px;
             padding-left: 20px;
             padding-right: 20px;
         }